.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 13 vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 1rem;
}

.App-link {
    color: #61dafb;
}

.NavButtons {
    display: flex;
}

.NavButtons a {
    padding: .5rem 1rem;
    font-size: .9rem;
    text-decoration: none;
    color: #fff;
}

a {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: underline;
    color: white;
}

img {
    width: 100%;
    height: auto;
}

.logout {
    padding: 0.5rem 1rem;
    border: solid 1px;
    border-radius: 1rem;
    font-size: 1rem;
    right: 5%;
    position: absolute;
}

.hikeList {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.hikeCardAdmin {
    border: 1px solid black;
    margin: 0.5rem auto;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
}

.hikeCardAdmin>* {
    width: 33%;
}

@media screen and (max-width: 1024px) {
    .hikeCardAdmin {
        width: 100%;
        flex-direction: column;
    }
    .hikeCardAdmin>* {
        width: 100%;
    }
    .hikeCardAdmin img {
        width: 60%;
    }
}

.hikeCardAdmin:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: antiquewhite;
    transition: 0.5s;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal-main {
    position: fixed;
    background: white;
    box-sizing: border-box;
    width: 80vw;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: scroll;
    word-break: break-all;
    text-align: left;
    padding-bottom: 1rem;
    border-radius: 1rem;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.editSection {
    box-sizing: border-box;
    padding: 1rem;
}

.closingArea {
    height: 100%;
    width: 100%;
    z-index: -1
}

.modal-main>div>span:nth-child(odd) {
    font-weight: 700;
    margin-right: 0.3rem;
}

.modal-main div {
    margin-bottom: .5rem;
}

section div.modalImage {
    height: 13rem;
    width: 100%;
    margin-bottom: 0;
    padding: unset;
}

.modalImage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.modalButtons {
    display: flex;
    justify-content: center;
}

.modal-main button {
    margin-right: 1rem;
}

.modal-main button:last-child {
    margin-right: unset
}

.modal-main div {
    padding: 2vw;
    display: flex;
    justify-content: space-between;
}

.modal-main div span {
    width: 50%;
    max-width: max-content;
    float: right;
}

.modal-main div span.modalInputField {
    max-width: none;
}

section.modal-main div input,
section.modal-main div textarea {
    width: 100%;
}

section.modal-main div textarea {
    resize: vertical
}

.modal-main div:nth-child(odd) {
    background-color: #edeeed;
}

.modal-main>button {
    margin-left: 2vw;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0;
    background-color: #aaa;
}

.modal-main::-webkit-scrollbar {
    display: none
}

::-webkit-scrollbar-thumb {
    background: #000;
}