.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    min-height: 13 vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 1rem;
}

.App-link {
    color: #61dafb;
}

.NavButtons {
    display: flex;
}

.NavButtons a {
    padding: .5rem 1rem;
    font-size: .9rem;
    text-decoration: none;
    color: #fff;
}

a.selected {
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
}

.logout {
    padding: 0.5rem 1rem;
    border: solid 1px;
    border-radius: 1rem;
    font-size: 1rem;
    right: 5%;
    position: absolute;
}

.hikeList {
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.hikeCardAdmin {
    border: 1px solid black;
    margin: 0.5rem auto;
    padding: 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-evenly;
}

.hikeCardAdmin > * {
    width: 25%;
}

@media screen and (max-width: 1024px) {
    .hikeCardAdmin {
        width: 100%;
        flex-direction: column;
    }
    .hikeCardAdmin > * {
        width: 100%;
    }
    .hikeCardAdmin img {
        width: 60%;
    }
}

.hikeCardAdmin:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: antiquewhite;
    transition: 0.5s;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }

